openapi: 3.0.0
info:
  title: Verbwire API documentation
  version: 1.0.0
servers:
- url: https://api.verbwire.com/v1
tags:
- name: Data
  description: NFT Data Endpoint
- name: Store
  description: IPFS Storage Endpoint
paths:
  /nft/data/owned:
    get:
      tags:
      - Data
      summary: Get all NFTs owned by a wallet address
      description: Returns a list of all NFTs held within a particular wallet address
      operationId: nftDataOwnedGET
      parameters:
      - name: walletAddress
        in: query
        description: Wallet address to query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: chain
        in: query
        description: Blockchain to search
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: ethereum
          enum:
          - ethereum
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: Data
  /nft/data/created:
    get:
      tags:
      - Data
      summary: Get all NFTs created by a wallet address
      description: Returns a list of all NFTs created by a particular wallet address
      operationId: nftDataCreatedGET
      parameters:
      - name: walletAddress
        in: query
        description: Wallet address to query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: chain
        in: query
        description: Blockchain to search
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: ethereum
          enum:
          - ethereum
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: Data
  /nft/data/transactions:
    get:
      tags:
      - Data
      summary: Get all transactions by a wallet address
      description: Returns a list of all transactions by a particular wallet address
      operationId: nftDataTransactionsGET
      parameters:
      - name: walletAddress
        in: query
        description: Wallet address to query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: chain
        in: query
        description: Blockchain to search
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: ethereum
          enum:
          - ethereum
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: Data
  /nft/data/transactionsByContract:
    get:
      tags:
      - Data
      summary: Get all NFTs Contract transactions by a wallet address
      description: Produce a list of all NFTs transactions for a specific NFT contract
        within a particular wallet address
      operationId: nftDataTransactionsByContractGET
      parameters:
      - name: contractAddress
        in: query
        description: NFT contract address
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: walletAddress
        in: query
        description: Wallet address to query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: chain
        in: query
        description: Blockchain to search
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: ethereum
          enum:
          - ethereum
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: Data
  /nft/data/nftDetails:
    get:
      tags:
      - Data
      summary: Get details for an NFT
      description: Returns all details for an NFT
      operationId: nftDataNftDetailsGET
      parameters:
      - name: contractAddress
        in: query
        description: NFT contract address
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: tokenId
        in: query
        description: NFT Token ID
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: chain
        in: query
        description: Blockchain to search
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: ethereum
          enum:
          - ethereum
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: Data
  /nft/data/lastFloorPriceForSlug:
    get:
      tags:
      - Data
      summary: Get last floor price for slug
      description: Returns the most recent floor price for an NFT project slug
      operationId: nftDataLastFloorPriceForSlugGET
      parameters:
      - name: slug
        in: query
        description: NFT project slug
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: chain
        in: query
        description: Blockchain to search
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ethereum
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: Data
  /nft/data/lastFloorPriceForContractAddress:
    get:
      tags:
      - Data
      summary: Get last floor price for contract address
      description: Returns the most recent floor price for an NFT
      operationId: nftDataLastFloorPriceForContractAddressGET
      parameters:
      - name: contractAddress
        in: query
        description: NFT contract address
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: chain
        in: query
        description: Blockchain to search
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ethereum
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: Data
  /nft/data/floorPricesForSlug:
    get:
      tags:
      - Data
      summary: Get floor prices for slug
      description: Returns all floor price history for an NFT project slug
      operationId: nftDataFloorPricesForSlugGET
      parameters:
      - name: slug
        in: query
        description: NFT project slug
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: chain
        in: query
        description: Blockchain to search
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ethereum
      - name: limit
        in: query
        description: Number of results to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: number
          default: 25
      - name: offset
        in: query
        description: Used to return the next set of items
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: number
          default: 0
      - name: sortDirection
        in: query
        description: Timestamp sort direction for the return results
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: DESC
          enum:
          - DESC
          - ASC
      - name: startDate
        in: query
        description: Starting timestamp for results
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: endDate
        in: query
        description: Ending timestamp for results
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: Data
  /nft/data/floorPricesForContractAddress:
    get:
      tags:
      - Data
      summary: Get floor prices for contract address
      description: Returns all floor price history for an NFT project
      operationId: nftDataFloorPricesForContractAddressGET
      parameters:
      - name: contractAddress
        in: query
        description: NFT contract address
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: chain
        in: query
        description: Blockchain to search
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ethereum
      - name: limit
        in: query
        description: Number of results to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: number
          default: 25
      - name: offset
        in: query
        description: Used to return the next set of items
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: number
          default: 0
      - name: sortDirection
        in: query
        description: Timestamp sort direction for the return results
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: DESC
          enum:
          - DESC
          - ASC
      - name: startDate
        in: query
        description: Starting timestamp for results
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: endDate
        in: query
        description: Ending timestamp for results
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: Data
  /nft/data/historicalStatsForSlug:
    get:
      tags:
      - Data
      summary: Get historical stats for slug
      description: Returns historical statistics for an NFT project slug
      operationId: nftDataHistoricalStatsForSlugGET
      parameters:
      - name: slug
        in: query
        description: NFT project slug
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: chain
        in: query
        description: Blockchain to search
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ethereum
      - name: limit
        in: query
        description: Number of results to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: number
          default: 25
      - name: offset
        in: query
        description: Used to return the next set of items
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: number
          default: 0
      - name: sortDirection
        in: query
        description: Timestamp sort direction for the return results
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: DESC
          enum:
          - DESC
          - ASC
      - name: startDate
        in: query
        description: Starting timestamp for results
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: endDate
        in: query
        description: Ending timestamp for results
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: Data
  /nft/data/historicalStatsForContractAddress:
    get:
      tags:
      - Data
      summary: Get historical stats for contract address
      description: Returns historical statistics for an NFT project
      operationId: nftDataHistoricalStatsForContractAddressGET
      parameters:
      - name: contractAddress
        in: query
        description: NFT contract address
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: chain
        in: query
        description: Blockchain to search
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ethereum
      - name: limit
        in: query
        description: Number of results to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: number
          default: 25
      - name: offset
        in: query
        description: Used to return the next set of items
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: number
          default: 0
      - name: sortDirection
        in: query
        description: Timestamp sort direction for the return results
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: DESC
          enum:
          - DESC
          - ASC
      - name: startDate
        in: query
        description: Starting timestamp for results
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: endDate
        in: query
        description: Ending timestamp for results
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: Data
  /nft/data/salesEventsForSlug:
    get:
      tags:
      - Data
      summary: Get sales events for slug
      description: Returns all sales events for a particular NFT project slug
      operationId: nftDataSalesEventsForSlugGET
      parameters:
      - name: slug
        in: query
        description: NFT project slug
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: chain
        in: query
        description: Blockchain to search
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ethereum
      - name: limit
        in: query
        description: Number of results to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: number
          default: 25
      - name: offset
        in: query
        description: Used to return the next set of items
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: number
          default: 0
      - name: sortDirection
        in: query
        description: Timestamp sort direction for the return results
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: DESC
          enum:
          - DESC
          - ASC
      - name: startDate
        in: query
        description: Starting timestamp for results
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: endDate
        in: query
        description: Ending timestamp for results
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: Data
  /nft/data/salesEventsForContractAddress:
    get:
      tags:
      - Data
      summary: Get sales events for contract address
      description: Returns all sales events for a particular NFT project slug
      operationId: nftDataSalesEventsForContractAddressGET
      parameters:
      - name: contractAddress
        in: query
        description: NFT contract address
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: chain
        in: query
        description: Blockchain to search
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ethereum
      - name: limit
        in: query
        description: Number of results to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: number
          default: 25
      - name: offset
        in: query
        description: Used to return the next set of items
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: number
          default: 0
      - name: sortDirection
        in: query
        description: Timestamp sort direction for the return results
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: DESC
          enum:
          - DESC
          - ASC
      - name: startDate
        in: query
        description: Starting timestamp for results
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: endDate
        in: query
        description: Ending timestamp for results
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: Data
  /nft/data/transferEventsForSlug:
    get:
      tags:
      - Data
      summary: Get transfer events for slug
      description: Returns all transfer events for a particular NFT project slug
      operationId: nftDataTransferEventsForSlugGET
      parameters:
      - name: slug
        in: query
        description: NFT project slug
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: chain
        in: query
        description: Blockchain to search
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ethereum
      - name: limit
        in: query
        description: Number of results to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: number
          default: 25
      - name: page
        in: query
        description: Used to return the next set of items
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: number
          default: 1
      - name: sortDirection
        in: query
        description: Timestamp sort direction for the return results
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: DESC
          enum:
          - DESC
          - ASC
      - name: startDate
        in: query
        description: Starting timestamp for results
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: endDate
        in: query
        description: Ending timestamp for results
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: Data
  /nft/data/transferEventsForContractAddress:
    get:
      tags:
      - Data
      summary: Get transfer events for contract address
      description: Returns all transfer events for a particular NFT project slug
      operationId: nftDataTransferEventsForContractAddressGET
      parameters:
      - name: contractAddress
        in: query
        description: NFT contract address
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: chain
        in: query
        description: Blockchain to search
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ethereum
      - name: limit
        in: query
        description: Number of results to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: number
          default: 25
      - name: page
        in: query
        description: Used to return the next set of items
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: number
          default: 1
      - name: sortDirection
        in: query
        description: Timestamp sort direction for the return results
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: DESC
          enum:
          - DESC
          - ASC
      - name: startDate
        in: query
        description: Starting timestamp for results
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: endDate
        in: query
        description: Ending timestamp for results
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: Data
  /nft/data/ownershipForSlug:
    get:
      tags:
      - Data
      summary: Get ownership data for slug
      description: Returns all wallets that own a particular NFT project slug
      operationId: nftDataOwnershipForSlugGET
      parameters:
      - name: slug
        in: query
        description: NFT project slug
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: chain
        in: query
        description: Blockchain to search
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ethereum
      - name: limit
        in: query
        description: Number of results to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: number
          default: 25
      - name: page
        in: query
        description: Used to return the next set of items
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: number
          default: 1
      - name: sortDirection
        in: query
        description: Timestamp sort direction for the return results
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: DESC
          enum:
          - DESC
          - ASC
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: Data
  /nft/data/ownershipForContractAddress:
    get:
      tags:
      - Data
      summary: Get ownership data for contract address
      description: Returns all wallets that owna particular NFT project slug
      operationId: nftDataOwnershipForContractAddressGET
      parameters:
      - name: contractAddress
        in: query
        description: NFT contract address
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: chain
        in: query
        description: Blockchain to search
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ethereum
      - name: limit
        in: query
        description: Number of results to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: number
          default: 25
      - name: page
        in: query
        description: Used to return the next set of items
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: number
          default: 1
      - name: sortDirection
        in: query
        description: Timestamp sort direction for the return results
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: DESC
          enum:
          - DESC
          - ASC
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: Data
  /nft/data/collections/all:
    get:
      tags:
      - Data
      summary: Get all indexed collections
      description: Returns all collections indexed by Verbwire
      operationId: nftDataCollectionsAllGET
      parameters:
      - name: chain
        in: query
        description: Blockchain to search
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ethereum
      - name: limit
        in: query
        description: Number of results to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: number
          default: 25
      - name: page
        in: query
        description: Used to return the next set of items
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: number
          default: 1
      - name: sortField
        in: query
        description: Field to sort by
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: rank
          enum:
          - rank
          - volume
      - name: sortInterval
        in: query
        description: Interval to sort by
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: allTime
          enum:
          - 1day
          - 7day
          - 30day
          - allTime
      - name: sortDirection
        in: query
        description: Timestamp sort direction for the return results
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: ASC
          enum:
          - DESC
          - ASC
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: Data
  /nft/data/collections/search:
    get:
      tags:
      - Data
      summary: Search all indexed collections
      description: Searches all collections indexed by Verbwire for a given string
      operationId: nftDataCollectionsSearchGET
      parameters:
      - name: searchString
        in: query
        description: Search value
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: chain
        in: query
        description: Blockchain to search
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ethereum
      - name: limit
        in: query
        description: Number of results to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: number
          default: 25
      - name: page
        in: query
        description: Used to return the next set of items
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: number
          default: 1
      - name: sortField
        in: query
        description: Field to sort by
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: rank
          enum:
          - rank
          - volume
      - name: sortInterval
        in: query
        description: Interval to sort by
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: allTime
          enum:
          - 1day
          - 7day
          - 30day
          - allTime
      - name: sortDirection
        in: query
        description: Timestamp sort direction for the return results
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: ASC
          enum:
          - DESC
          - ASC
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: Data
  /nft/data/attributesForSlug:
    get:
      tags:
      - Data
      summary: Get attributes for slug
      description: Returns all metadata attributes for a particular NFT project slug
      operationId: nftDataAttributesForSlugGET
      parameters:
      - name: slug
        in: query
        description: NFT project slug
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: chain
        in: query
        description: Blockchain to search
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ethereum
      - name: limit
        in: query
        description: Number of results to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: number
          default: 25
      - name: page
        in: query
        description: Used to return the next set of items
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: number
          default: 1
      - name: sortField
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: key
          enum:
          - key
          - value
          - count
      - name: sortDirection
        in: query
        description: Timestamp sort direction for the return results
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: DESC
          enum:
          - DESC
          - ASC
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: Data
  /nft/data/attributesForContractAddress:
    get:
      tags:
      - Data
      summary: Get attributes for contract address
      description: Returns all metadata attributes for an NFT contract address
      operationId: nftDataAttributesForContractAddressGET
      parameters:
      - name: contractAddress
        in: query
        description: NFT contract address
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: chain
        in: query
        description: Blockchain to search
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ethereum
      - name: limit
        in: query
        description: Number of results to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: number
          default: 25
      - name: page
        in: query
        description: Used to return the next set of items
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: number
          default: 1
      - name: sortField
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: key
          enum:
          - key
          - value
          - count
      - name: sortDirection
        in: query
        description: Timestamp sort direction for the return results
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: DESC
          enum:
          - DESC
          - ASC
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: Data
  /nft/data/attributesWithTokensForSlug:
    get:
      tags:
      - Data
      summary: Get attributes (with tokens) for slug
      description: Returns all metadata attributes and corresponding token IDs for
        a particular NFT project slug
      operationId: nftDataAttributesWithTokensForSlugGET
      parameters:
      - name: slug
        in: query
        description: NFT project slug
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: chain
        in: query
        description: Blockchain to search
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ethereum
      - name: limit
        in: query
        description: Number of results to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: number
          default: 25
      - name: page
        in: query
        description: Used to return the next set of items
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: number
          default: 1
      - name: sortField
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: key
          enum:
          - key
          - value
          - count
      - name: sortDirection
        in: query
        description: Timestamp sort direction for the return results
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: DESC
          enum:
          - DESC
          - ASC
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: Data
  /nft/data/attributesWithTokensForContractAddress:
    get:
      tags:
      - Data
      summary: Get attributes (with tokens) for contract address
      description: Returns all metadata attributes and corresponding token IDs for
        an NFT contract address
      operationId: nftDataAttributesWithTokensForContractAddressGET
      parameters:
      - name: contractAddress
        in: query
        description: NFT contract address
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: chain
        in: query
        description: Blockchain to search
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ethereum
      - name: limit
        in: query
        description: Number of results to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: number
          default: 25
      - name: page
        in: query
        description: Used to return the next set of items
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: number
          default: 1
      - name: sortField
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: key
          enum:
          - key
          - value
          - count
      - name: sortDirection
        in: query
        description: Timestamp sort direction for the return results
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: DESC
          enum:
          - DESC
          - ASC
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: Data
  /nft/data/searchAttributesInSlug:
    get:
      tags:
      - Data
      summary: Search attributes in slug
      description: Returns all metadata attributes for a particular NFT project slug
      operationId: nftDataSearchAttributesInSlugGET
      parameters:
      - name: searchString
        in: query
        description: Expression to search in NFT attributes
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: slug
        in: query
        description: NFT project slug
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: chain
        in: query
        description: Blockchain to search
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ethereum
      - name: limit
        in: query
        description: Number of results to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: number
          default: 25
      - name: page
        in: query
        description: Used to return the next set of items
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: number
          default: 1
      - name: sortField
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: key
          enum:
          - key
          - value
          - count
      - name: sortDirection
        in: query
        description: Timestamp sort direction for the return results
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: DESC
          enum:
          - DESC
          - ASC
      - name: includeTokens
        in: query
        description: Include the corresponding token IDs in search results
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: Data
  /nft/data/searchAttributesInContractAddress:
    get:
      tags:
      - Data
      summary: Search attributes in contract address
      description: Returns all metadata attributes for an NFT contract address
      operationId: nftDataSearchAttributesInContractAddressGET
      parameters:
      - name: searchString
        in: query
        description: Expression to search in NFT attributes
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: contractAddress
        in: query
        description: NFT contract address
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: chain
        in: query
        description: Blockchain to search
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ethereum
      - name: limit
        in: query
        description: Number of results to return
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: number
          default: 25
      - name: page
        in: query
        description: Used to return the next set of items
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: number
          default: 1
      - name: sortField
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: key
          enum:
          - key
          - value
          - count
      - name: sortDirection
        in: query
        description: Timestamp sort direction for the return results
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: DESC
          enum:
          - DESC
          - ASC
      - name: includeTokens
        in: query
        description: Include the corresponding token IDs in search results
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: Data
  /nft/deploy/deployCollectionContract:
    post:
      tags:
      - Deploy
      summary: Deploy a Collection Contract
      description: Deploy a collection contract in seconds. You can deploy any of
        the provided three types of contracts (i) A standard ERC721 collection contract
        (ii) An ERC721A collection contract (iii) An Omnichain ERC721 contract. Note,
        an Omni chain contract gives you the the ability to send your NFTs across
        different blockchains
      operationId: nftDeployDeployCollectionContractPOST
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "400":
          description: Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
      security:
      - APIKey: []
      x-swagger-router-controller: Deploy
  /nft/deploy/deployCustomContract:
    post:
      tags:
      - Deploy
      summary: Deploy a Custom Contract
      description: Deploy a custom omnichain contract in seconds. A custom contract
        is different from a collection contract. Use a custom contract for providing
        NFT functionality in your applications.
      operationId: nftDeployDeployCustomContractPOST
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_1'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "400":
          description: Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
      security:
      - APIKey: []
      x-swagger-router-controller: Deploy
  /nft/deploy/burn:
    post:
      tags:
      - Burn
      summary: Burn NFT
      description: Burn an NFT. You can burn only NFTs created from your own collection
        contract.
      operationId: nftDeployBurnPOST
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_2'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "400":
          description: Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
      security:
      - APIKey: []
      x-swagger-router-controller: Burn
  /nft/update/initCollectionContract:
    post:
      tags:
      - Deploy
      summary: Initialize your collection contract
      description: Set the parameters of your deployed collection contract
      operationId: nftUpdateInitCollectionContractPOST
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_3'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "400":
          description: Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
      security:
      - APIKey: []
      x-swagger-router-controller: Deploy
  /nft/deploy/updateContract:
    post:
      tags:
      - Update
      summary: Update Collection Contract
      description: Update parameters of your collection contract
      operationId: nftDeployUpdateContractPOST
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_4'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "400":
          description: Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
      security:
      - APIKey: []
      x-swagger-router-controller: Update
  /nft/deploy/update/withdrawFunds:
    post:
      tags:
      - Update
      summary: Withdraw Funds
      description: Withdraw funds from your smart contract.
      operationId: nftDeployUpdateWithdrawFundsPOST
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_5'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: Update
  /nft/mint/quickMintFromFile:
    post:
      tags:
      - Mint
      summary: Quick mint Omnichain NFT from image
      description: Mint an Omnichain NFT directly from your specified image file in
        seconds
      operationId: nftMintQuickMintFromFilePOST
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_6'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "400":
          description: Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
      security:
      - APIKey: []
      x-swagger-router-controller: Mint
  /nft/mint/quickMintFromMetadataUrl:
    post:
      tags:
      - Mint
      summary: Quick mint from Metadata URL
      description: Mint an Omnichain NFT directly from a provided metadata file URL
      operationId: nftMintQuickMintFromMetadataUrlPOST
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_7'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "400":
          description: Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
      security:
      - APIKey: []
      x-swagger-router-controller: Mint
  /nft/mint/collectionReserveMint:
    post:
      tags:
      - Mint
      summary: Mint to a Wallet Address
      description: Mint an NFT to a provided address. Works with only collection contracts.
      operationId: nftMintCollectionReserveMintPOST
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_8'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "400":
          description: Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
      security:
      - APIKey: []
      x-swagger-router-controller: Mint
  /nft/mint/customContractMintFromMetadataUrl:
    post:
      tags:
      - Mint
      summary: Mint Custom contract NFT
      description: Mint an NFT from a provided metadata json file URL using your created
        custom contract
      operationId: nftMintCustomContractMintFromMetadataUrlPOST
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_9'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "400":
          description: Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
      security:
      - APIKey: []
      x-swagger-router-controller: Mint
  /nft/mint/customContractMintFromFile:
    post:
      tags:
      - Mint
      summary: Custom Contract NFT Mint from image
      description: Mint an NFT from an image file using your created custom contract
      operationId: nftMintCustomContractMintFromFilePOST
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_10'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "400":
          description: Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
      security:
      - APIKey: []
      x-swagger-router-controller: Mint
  /nft/store/file:
    post:
      tags:
      - Store
      summary: Upload a local file to IPFS
      description: Uploads a local file directly to IPFS. A quick and seamless way
        to store a file in IPFS. This does not create a metadata json file that can
        be used as an NFT metadata.
      operationId: nftStoreFilePOST
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_11'
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201'
        "400":
          description: Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
      security:
      - APIKey: []
      x-swagger-router-controller: Store
  /nft/store/fileFromUrl:
    post:
      tags:
      - Store
      summary: Upload a file via URL to IPFS
      description: Uploads a file to IPFS from a provided url. A quick and seamless
        way to store a file in IPFS. This does not create a metadata json file that
        can be used as an NFT metadata.
      operationId: nftStoreFileFromUrlPOST
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_12'
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201_1'
        "400":
          description: Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400_1'
      security:
      - APIKey: []
      x-swagger-router-controller: Store
  /nft/store/metadataFromImageUrl:
    post:
      tags:
      - Store
      summary: Upload a URL to IPFS as NFT metadata
      description: Creates a metadata json file from the provided URL and uploads
        the metadata file direcly to IPFS, all in one operation.
      operationId: nftStoreMetadataFromImageUrlPOST
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_13'
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201_2'
        "400":
          description: Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
      security:
      - APIKey: []
      x-swagger-router-controller: Store
  /nft/store/metadataFromImage:
    post:
      tags:
      - Store
      summary: Upload local file as metadata to IPFS
      description: Creates a metadata json file from the provided local file, and
        uploads the metadata file directly to IPFS, all in one operation.
      operationId: nftStoreMetadataFromImagePOST
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_14'
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201_3'
        "400":
          description: Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
      security:
      - APIKey: []
      x-swagger-router-controller: Store
  /nft/store/uploadDirectory:
    post:
      tags:
      - Store
      summary: Upload a directory to IPFS
      description: Uploads a directory of metadata json files to IPFS. Useful for
        creating nft collections. The files in your directory should be numbered,
        example &#58; 1.json, 2.json, 3.json. You will need to upload all the files
        together at once. The uploaded files to IPFS will all be in the same IPFS
        directory. Once uploaded to IPFS the file extensions (.json) will be removed.
        Example &#58; file "1.json" will show up as "1" in the IPFS directory
      operationId: nftStoreUploadDirectoryPOST
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_15'
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201_4'
        "400":
          description: Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
      security:
      - APIKey: []
      x-swagger-router-controller: Store
  /nft/send/quickSend:
    post:
      tags:
      - Cross-chain Send
      summary: Send Quick-minted NFT across Chains
      description: Sends a quick-minted NFT from one block chain to another. Sending
        NFTs accross chains is a unique feature of Omnichain NFTs
      operationId: nftSendQuickSendPOST
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_16'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "400":
          description: Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
      security:
      - APIKey: []
      x-swagger-router-controller: CrossChainSend
  /nft/send/enableCrossChainSend:
    post:
      tags:
      - Cross-chain Send
      summary: Enable Cross-chain Sends
      description: Turn on the ability to send your NFT (minted with your created
        custom contract) across chains
      operationId: nftSendEnableCrossChainSendPOST
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_17'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "400":
          description: Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
      security:
      - APIKey: []
      x-swagger-router-controller: CrossChainSend
  /nft/send/crossChainSend:
    post:
      tags:
      - Cross-chain Send
      summary: Send your NFT across Chains
      description: Sends an NFT (minted from your created custom contract) from one
        block chain to another. Sending NFTs accross chains is a unique feature of
        Omnichain NFTs
      operationId: nftSendCrossChainSendPOST
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body_18'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "400":
          description: Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
      security:
      - APIKey: []
      x-swagger-router-controller: CrossChainSend
  /nft/userOps/deployedContracts:
    get:
      tags:
      - User
      summary: Retrieve deployed contracts
      description: Produce a list of all your deployed contracts
      operationId: nftUserOpsDeployedContractsGET
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: User
  /nft/userOps/nftsMinted:
    get:
      tags:
      - User
      summary: Retrieve your minted NFTs
      description: Produce a list of all your minted NFTs
      operationId: nftUserOpsNftsMintedGET
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: User
  /nft/userOps/ipfsUploads:
    get:
      tags:
      - User
      summary: Retrieve your uploaded IPFS files
      description: Produce a list of all your minted NFTs
      operationId: nftUserOpsIpfsUploadsGET
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: User
  /nft/userOps/transactionDetails:
    post:
      tags:
      - User
      summary: Retrieve specific transaction details
      description: Get details for a specific transaction
      operationId: nftUserOpsTransactionDetailsPOST
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_19'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: User
  /nft/update/transferOperator:
    post:
      tags:
      - Update
      summary: Transfer Contract Operator
      description: Transfer the Operator of your deployed collection contract. Works
        with only collection contracts.
      operationId: nftUpdateTransferOperatorPOST
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_20'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: Update
  /nft/update/addToAllowList:
    post:
      tags:
      - Update
      summary: Add addresses to Allowlist
      description: Add an address (or group of addresses) to the allowlist of your
        collection contract.
      operationId: nftUpdateAddToAllowListPOST
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_21'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: Update
  /nft/userOps/userCollectionContractDetails:
    post:
      tags:
      - User
      summary: Get Contract Details
      description: Display details of your collection contract.
      operationId: nftUserOpsUserCollectionContractDetailsPOST
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_22'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: User
  /nft/userOps/payeeAtIndex:
    post:
      tags:
      - User
      summary: Get Payee
      description: Display details of Payee at a certain Index.
      operationId: nftUserOpsPayeeAtIndexPOST
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_23'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: User
  /nft/userOps/allowListSharesForAddress:
    post:
      tags:
      - User
      summary: Get Allowlist Shares
      description: Display Allowlist shares for a specific address.
      operationId: nftUserOpsAllowListSharesForAddressPOST
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_24'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: User
  /nft/userOps/contractPaymentDetails:
    post:
      tags:
      - User
      summary: Get Payee Payment Details
      description: Display payment details for a specific payee of a contract.
      operationId: nftUserOpsContractPaymentDetailsPOST
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body_25'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - APIKey: []
      x-swagger-router-controller: User
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        role:
          type: string
          enum:
          - user
          - admin
      example:
        id: 5ebac534954b54139806c112
        email: fake@example.com
        name: fake name
        role: user
    Token:
      type: object
      properties:
        token:
          type: string
        expires:
          type: string
          format: date-time
      example:
        token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1ZWJhYzUzNDk1NGI1NDEzOTgwNmMxMTIiLCJpYXQiOjE1ODkyOTg0ODQsImV4cCI6MTU4OTMwMDI4NH0.m1U63blB0MLej_WfB7yC2FTMnCziif9X8yzwDEfJXAg
        expires: 2020-05-12T16:18:04.793Z
    AuthTokens:
      type: object
      properties:
        access:
          $ref: '#/components/schemas/Token'
        refresh:
          $ref: '#/components/schemas/Token'
    Error:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
    NFTData:
      type: array
      example:
      - contractAddress: 0xed5af388653567af2f388e6224dc7c4b3241c544
        tokenID: 40
        tokenName: Azuki
      - contractAddress: 0x23581767a106ae21c074b2276d25e5c3e136a68b
        tokenID: 6504
        tokenName: Moonbirds
      items:
        $ref: '#/components/schemas/NFTData_inner'
    NFTDetails:
      type: object
      properties:
        name:
          type: string
        symbol:
          type: string
        tokenId:
          type: string
        owner:
          type: string
        tokenURI:
          type: string
      example:
        name: Azuki
        symbol: AZUKI
        tokenId: 40
        owner: 0x333e58f8d77a8add1032CfdD781383E934f92d6F
        tokenURI: https://ikzttp.mypinata.cloud/ipfs/QmQFkLSQysj94s5GvTHPyzTxrawwtjgiiYS2TBLgrvw8CW/40
    VwTransaction:
      type: object
      properties:
        transactionID:
          type: string
        status:
          type: string
      example:
        transactionID: 6327921e418fb0564c4d063b
        status: Sent
    Transaction:
      type: array
      example:
      - blockNumber: "14554041"
        timeStamp: "1649540923"
        hash: 0x5b492a277270b4e28f0632b747db44a8650e9092488c9c4d4415ad72a433b382
        nonce: "136"
        blockHash: 0x5b5a2faa3e89ef2b58b483086619b30024c0a3ebed7bf744090d278e66e52a08
        from: 0x7d77a304290a422d5c003231ffc1160cb73c60fb
        contractAddress: 0x641f2a0f4dfb439870aada9f0d136d62fd80ad07
        to: 0x4e514d9fcb58503dba5bb2b0f477792c03c8426d
        tokenID: "18"
        tokenName: flymeta
        tokenSymbol: fm
[...]
